<h2>Comentários:</h2>

<%= render :partial => 'comentarios/comentario_pai', :comentavel => comentavel %>

<%= render :partial => 'comentarios/comentario_filho', :comentavel => comentavel %>

<%= render :partial => 'comentarios/novo' %>