<div class="row"><!-- Caixa principal do coment치rio -->
  <div class="large-12 columns">
    <div class="large-12 columns comentario-corpo">
      <div class="row comentario-cabecalho"><!-- Cabecalho com nome e data do comment -->
        <div class="large-9 columns">
          <a href="http://meuseriado.com.br/users/marcos-vinicius-teixeira" class="nome-do-comentador">Marcos Vinicius
            Teixeira</a>
          <span id="comment_1_timestamp_span" class="comment_timestamp">
            em 25/09/13 04:59
          </span>
        </div>
        <div class="large-3 columns editar-deletar-comentario">
          <a class="comment_edit_link" data-remote="true" href="http://meuseriado.com.br/commontator/comments/2/edit" id="comment_2_edit_link">Editar</a>
          <a class="comment_delete_link" data-confirm="Tem certeza que deseja excluir este coment치rio?" data-method="patch" data-remote="true" href="http://meuseriado.com.br/commontator/comments/2/delete" id="comment_2_deletar_link" rel="nofollow">Deletar</a>
        </div>
      </div>
      <br/><!-- FIM do Cabecalho com nome e data do comment -->
      <div class="large-2 columns"><!-- Foto do usu치rio -->
        <img src="file:///C:/Users/Andre%20Quint%C3%A3o/Desktop/meuseriado/material/cometario/MeuSeriado%20-%20Breaking%20Bad%20S05E14%20-%20Temporada%205%20Epis%C3%B3dio%2014%20-%20Ozymandias_files/969038_509418345804073_1446962869_n.jpg" alt="">
      </div>
      <div class="large-10 columns"><!-- Corpo do comentario -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tempore dolorem perspiciatis similique
          praesentium. Adipisci, voluptatum, natus itaque est non assumenda vero qui nostrum similique magni voluptate
          modi facilis magnam! ipsum dolor sit amet, consectetur adipisicing elit. Non, quidem, ducimus, at sed possimus
          sapiente asperiores amet architecto similique fugiat iste dicta incidunt itaque ratione eligendi. Aspernatur,
          neque laborum accusamus.
        </p>

        <div class="row"> <!-- Caixa de votos -->
          <div class="large-3 columns">
            <button class="button responder small">Responder</button>
          </div>
          <div class="large-9 columns">
            <div class="voto-positivo ">2</div>
            <div class="voto-negativo ">1</div>
          </div>
          <!-- FIM Caixa de votos -->
        </div>
      </div>
    </div>
  </div>
</div><!-- Fim da caixa principal do coment치rio -->
<br/><!-- BR que finaliza o bloco do comentario -->