<div class="row">
  <div class="large-12 columns">
    <textarea rows="8" placeholder="Vamos lá! Escreva aqui seu comentário..."></textarea>
    <input type="submit" class="button prefix" value="Comentar">
  </div>
</div>