<div class="row lista-de-botoes">
  <div class="large-2 columns"><%= f.submit "Cadastrar", :class => 'small button large-12 columns' %></div>
  <div class="large-3 columns"><a href="/users/auth/facebook" class="small button large-12 columns Facebook-entrar">Entrar com Facebook</a></div>
  <div class="large-3 columns"><a href="/users/auth/google_oauth2" class="small button large-12 columns google-entrar">Entrar com conta google</a></div>
  <div class="large-3 columns"><a href="/users/sign_in" class="small button secondary large-12 columns">Já tem um login? Entrar</a></div>
</div>
<a href="/users/password/new">Esqueceu sua senha?</a><br/>