<div class="large-4 columns">
  <h2 class="titulo-gerando-assunto">Está gerando assunto</h2>
  <ul class="trending-topic">
  	<% avaliacoes.each do |avaliacao| %>
	    <li><a href="/episodios/<%= avaliacao.avaliavel.slug%>"><%= avaliacao.avaliavel.nome_episodio_formatado %></a> <span class="comentarios-armazenados">456 - disqus </span> </li>
    <% end %>
  </ul>
</div>