<footer class="row">
  <div class="large-12 columns">
    <hr>
    <div class="row">
      <div class="large-6 columns">
        <h3 class="logo-meuseriado-footer">
          <a href="#">
            meuseriado
          </a>
        </h3>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Meuseriado</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Parceria</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag "zepto", "data-turbolinks-track" => true %>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45749924-1', 'meuseriado.com.br');
    ga('send', 'pageview');

</script>

<script>
    $(document).foundation();
</script>
</body>
</html>